.container{
    padding: 4rem;
    background: #fff;
}
h1{
    text-align: center;
}
.container__signup{
    display: flex;
    flex-flow: column;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    border: 1px solid yellow;
}
.form__wrapper{
    position: relative;
    margin: 50px 0 40px;
    border: 1px solid red;
}
.form__items{
    margin-bottom: 24px;
    display: inline-block;
}

.item label{
    font-weight: 1000;
}